<nav class="navbar">
  <div class="navbar__t-c">
    <h1>D.ALLINAS</h1>
  </div>

  <div class="navbar__blk"></div>

  <div class="navbar__links">
    <ul>
      <li class="navbar__item">
        <a class="navbar__link active" href="#home">Home</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#about">About</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#projects">Projects</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
