@use "../abstracts" as *;

html{
    scroll-behavior: smooth;
}

body{
     min-height: 100vh; // body at least full viewport
    display: flex;
    flex-direction: column;
    background-color: $bg-primary;
    margin: 0;
}

#app{
    flex: 1; 
}