/* =========================
   TYPOGRAPHY - GOOGLE FONTS IMPORT
   ========================= */

@use "../abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


/* =========================
   FONT VARIABLES
   ========================= */

$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Young Serif', serif;
$font-mono: 'Roboto Mono', monospace;
$font-display: 'Josefin Sans', sans-serif;
$font-body: 'Roboto', sans-serif;

/* =========================
   BASE ELEMENTS
   ========================= */

body {
  font-family: $font-body;
  color: $text-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  color: $text-primary;
}

p, a, li {
  font-family: $font-sans;
  color: $text-primary;
}

code, pre {
  font-family: $font-mono;
  color: $text-primary;
}

/* =========================
   TYPOGRAPHY UTILS / MIXINS
   ========================= */

/* Example: responsive font sizes, line-height helpers, etc. */
