@use "../abstracts" as *;

.navbar{
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 10;
    @include flex-row;
    justify-content: space-around;

    &__t-c{
        h1{
            color: $accent;
            font-size: 2rem;
            font-weight: 700;

            &:hover,
            &:focus{
                color: $accent-hover;
                cursor: pointer;
            }
        
        }
    }

    &__links{
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: rgba($bg-secondary, 0.2);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border-radius: 50rem;
        position: relative;
        transition: all .4s ease-out;
        
        &:hover,
        &:focus{
            box-shadow: 0px 2px 2rem rgba($accent-hover,.2);

        }

        ul{
            @include flex-row;
            gap: 3rem;
        }
        a{
            display: inline-block;
            transition: all .5s ease-out;
            &:hover,
            &:focus{
                color: $accent-hover;
                cursor: pointer;
            }
        }

        
    }

}